<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<style type="text/css">
/*base css*/
a{color:#4a72af}
body{background-color:#e4e4e4}
body,p{margin:0;padding:0}
img{display:block}
h1,h2,h3,h4,h5,h6{margin:0 0 .8em 0}
h3{font-size:28px;color:#444!important;font-family:Arial,Helvetica,sans-serif}
h4{font-size:22px;color:#4a72af!important;font-family:Arial,Helvetica,sans-serif}
h5{font-size:18px;color:#444!important;font-family:Arial,Helvetica,sans-serif}
p{font-size:12px;color:#444!important;font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;line-height:1.5}
ol li img{display:inline;height:20px}
.console {
	font-family:Courier New;
	table-layout:fixed;
	border-collapse: collapse;
	width:706px;
}
.console td {
	overflow:auto;
	white-space:nowrap;
} 

/*div styles*/
.news{text-align:center;padding-top:15px;}
.content{width:720px;margin:0 auto;background-color:white}
.round_border{margin-bottom:5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;margin-top:0;padding:6px;border:1px solid #ccc}
.status{background-color:<%= 
            build.result.toString() == "SUCCESS" ? 'green' : 'red' %>;font-size:28px;font-weight:bold;color:white;width:720px;height:52px;margin-bottom:18px;text-align:center;vertical-align:middle;border-collapse:collapse;background-repeat:no-repeat}
.status .info{color:white!important;text-shadow:0 -1px 0 rgba(0,0,0,0.3);font-size:32px;line-height:36px;padding:8px 0}
.main img{width:38px;margin-right:16px;height:38px}
.main table th{text-align:right;}
</style>
<body>
<div class="content round_border">
		<div class="status">
			<p class="info"><%= build.result.toString() %></p>
		</div>
		<!-- status -->
		<div class="main round_border">
			<table>
				<tbody>
					<tr>
						<th>Project:</th>
						<td>${project.name}</td>
					</tr>
					<tr>
						<th>Build ${build.displayName}:</th>
						<td><a
							href="${rooturl}${build.url}">${rooturl}${build.url}</a></td>
					</tr>
					<tr>
						<th>Date of build:</th>
						<td>${it.timestampString}</td>
					</tr>
					<tr>
						<th>Build duration:</th>
						<td>${build.durationString}</td>
					</tr>
					<tr>
						<th>Changes</th>
						<td><a
							href="${rooturl}${build.url}changes">${rooturl}${build.url}changes</a></td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>

			</table>
			
		</div>
		<!-- main -->
        <% def artifacts = build.artifacts
            if(artifacts != null && artifacts.size() > 0) { %>
        
		<div class="artifacts round_border">
			<b>Screenshots:</b>
			<ul>
            <% 		artifacts.each() { f -> %>		
				<%    if (f.toString().contains('screenshots/')) { %>
                <li><a href="${rooturl}${build.url}artifact/${f}">${f}</a></li>
	            <%	  } %>                
            <%		} %>                
			</ul>
		</div>
        <% } %>

        <% def changeSet = build.changeSet
        if(changeSet != null) {
            def hadChanges = false
            def count = 0 %>
            
		<div class="details round_border">
			<b>Changes in detail:</b>
			<ol>
            <% 	changeSet.each() { cs ->
                    hadChanges = true
                    def aUser = cs.author %>
				<li>${cs.msgAnnotated} (${aUser.displayName})
                    (<a href="${rooturl}${build.url}changes#detail${count}">detail</a>)</li>
            <%      count ++
                }  %>
			</ol>
		</div>
        <% } %>

		<!-- details -->
		<% def packages = it.JUnitTestResult
		if (packages.isEmpty() != true) {
		%>
		<div class="test_results round_border">
			<b>Test results:</b>
			
		    <table>
				<% packages.each() { package ->
					 package.getChildren().each() { test -> %>
						 <tr><td>Name: ${test.getName()}, failed: ${test.getFailCount()}, passed: ${test.getPassCount()}, skipped: ${test.getSkipCount()}, total: ${test.getPassCount() + test.getFailCount() + test.getSkipCount()}</td></tr>
						 <% test.getFailedTests().each() { failed -> %>
							 <tr><td><b><li>Failed: ${failed.getFullName()}</li></b></td></tr>
		        <%          }
			          }
				   } %>
			</table>
		</div>
        <% } %>

		<!-- CONSOLE OUTPUT -->
		<% if(build.result==hudson.model.Result.FAILURE) { %>
		<div class="console round_border">
			<table class="console">
			<tr><td><b>Console output:</b></td></tr>
				<tr><td class="console"><pre>${build.getLog(100).toArray().join('\n')}</pre></td></tr>
			</table>
		</div>
		<% } %>


    </div>
	<!-- content -->

</body>
